.main_container {
  width: 100%;
}
.notify_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  height: fit-content;
}

.bold_text {
  font-weight: 900;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.simple_text {
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.minutes_text {
  font-size: 9px;
  padding-bottom: 0;
  margin-bottom: 0px;
  margin-top: 3px;
  position: absolute;
  right: 5%;
}

.divider {
  width: 95%;
  margin-left: 2px;
  height: 1px;
  background-color: rgb(216, 215, 215);
  margin-top: 6px;
  margin-bottom: 30px;
}
